/*
 一些基本設定
*/
*{
    box-sizing:border-box;
  //  text-align-last: center;
}
.box1 {
    background-color:hsl(0, 39%, 98%);
    width: 224px;
    height: 445px;
   // display: inline-block;
    border-radius: 20px;
    float: left;    
    border-width:4px;
    border-style:outset;
    border-color: #ead0e6;
        
}

.box2 {
    background-color:black;
    width: 36px;
    height: 4px;
    position: relative;
    top:30px;
    left:86px;
    border-radius: 5px;  
    border-width:1px;
    border-style:inset;
}
.box3  {
    background-color:black;
    width: 6px;
    height: 5px;
    position: relative;
    top:10px;
    left:101px;
    border-radius: 5px;  
    border-width:1px;
    border-style:inset;
}
    
.box4  {
   background-color:black;
    width: 8px;
    height: 7px;
    position: absolute;
    top:40px;
    left:75px;
    border-radius: 5px;  
    border-width:1px;
    border-style:inset;
}
    

.box5 {
     background-color:black;
    width: 200px;
    height: 340px;
    position: absolute;
    top:65px;
    left:19px;
    border-radius: 5px;  
    border-width:1px;
    border-style:inset;
}

.box6 {
     background-color: beige;
    width: 35px;
    height: 36px;
    position: absolute;
    top:410px;
    left:100px;
    border-radius: 5px;  
    border-width:3px;
    border-style:inset;
    border-radius: 30px;
    border-color: #edbfe9;
}
